<h1>Campaign Members</h1>

<h2>Confirmed Members</h2>
<h3>Referees</h3>
<ul class="stomp">
  <% confirmed_members.select(&:referee?).each do |membership| %>
    <li>
      <%= membership.name %>
      <% if current_membership.referee? %>
        | <%= link_to "demote to player", make_player_membership_path(membership), method: :patch %>
      <% end %>
      <% if current_membership.admin? %>
        | <%= link_to "remove member", membership, confirm: "Are you sure you want to remove #{membership.name} from the campaign #{current_campaign.name}?", method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>
<h3>Players</h3>
<ul class="stomp">
  <% confirmed_members.select(&:player?).each do |membership| %>
    <li>
      <%= membership.name %>
      <% if current_membership.admin? || current_membership.referee? %>
        | <%= link_to "promote to referee", make_referee_membership_path(membership), method: :patch %>
      <% end %>
      <% if current_membership.admin? %>
        | <%= link_to "remove member", membership, confirm: "Are you sure you want to remove #{membership.name} from the campaign #{current_campaign.name}?", method: :delete %>
      <% end %>
    </li>
  <% end %>
</ul>
<% if unconfirmed_members.any? %>
  <h2>Invited Members</h2>
  <ul class="stomp">
    <% unconfirmed_members.each do |membership| %>
      <li>
        <%= membership.email %>
      </li>
    <% end %>
  </ul>
<% end %>
<% if current_membership.admin? %>
  <h3>Invite another member</h3>
  <%= simple_form_for @new_membership, url: memberships_path do |f| %>
    <%= f.input :email, label: "Google Account Email" %>
    <%= f.submit "Invite!", class: "button" %>
  <% end %>
<% end %>
