<tr class="weapon" id="weapon-<%= weapon.id %>">
  <td class="name"><%= weapon.name %></td>
  <td class="type"><%= weapon.type %></td>
  <td class="accuracy"><%= weapon.accuracy %></td>
  <td class="concealability"><%= weapon.concealability %></td>
  <td class="availability"><%= weapon.availability %></td>
  <td class="damage"><%= weapon.damage %> <%= weapon.ammo %></td>
  <td class="shots"><%= weapon.shots %></td>
  <td class="rof"><%= weapon.rof %></td>
  <td class="reliability"><%= weapon.reliability %></td>
  <td class="range"><%= weapon.range %></td>
  <td class="cost"><%= weapon.cost %></td>
  <td class="action">
    <% if weapon.is_a?(WeaponBlueprint) %>
      <%= link_to "add", character_weapons_path(@character, weapon_blueprint_id: weapon.id.to_s), class: "add-weapon", method: :post, remote: true %>
    <% elsif can_edit?(weapon.character) %>
      <%= link_to "remove", character_weapon_path(weapon.character, weapon), method: :delete, remote: true, class: "remove-weapon" %>
    <% end %>
  </td>
</tr>
