<%= javascript_include_tag character_creation_characters_path(:js) %>

<%= simple_form_for @character do |f| %>
  <%= f.input :role_id, as: :hidden %>
  <%= f.input :sex, collection: {"Male" => "male", "Female" => "female"}, include_blank: false %>
  <%= f.input :handle %> <%= link_to "random!", random_name_characters_path, id: "random-name-button", class: "" %> <%= link_to "name generator", "http://donjon.bin.sh/scifi/name/#cyberpunk", target: "_blank" %>
  <h2>Statistics <%= link_to image_tag("roll.png"), "#roll", data: { roll: "stats" } %></h2>
  <ul id="character-stats" class="editable-stats">
    <% Character::BASIC_ATTRIBUTES.each do |stat| %>
      <li class="editable-stat"><%= f.input stat, as: :integer %></li>
    <% end %>
  </ul>
  <h2>Lifepath</h2>
  <h3>Origins and Personal Style <%= link_to image_tag("roll.png"), "#roll", data: { roll: "style" } %></h3>
  <p>What do you look like and where do you come from?</p>
  <%= f.input :clothes %>
  <%= f.input :hair %>
  <%= f.input :affections %>
  <%= f.input :ethnicity %>
  <%= f.input :language %>
  <h3>Family Background <%= link_to image_tag("roll.png"), "#roll", data: { roll: "family" } %></h3>
  <%= f.input :family_ranking %>
  <%= f.input :parents %>
  <%= f.input :family_status %>
  <%= f.input :childhood_environment %>
  <div class="siblings">
  </div>
  <h3>Motivations <%= link_to image_tag("roll.png"), "#roll", data: { roll: "motivations" } %></h3>
  <%= f.input :personality %>
  <%= f.input :valued_person %>
  <%= f.input :valued_concept %>
  <%= f.input :feelings_toward_others %>
  <%= f.input :valued_posession %>
  <h3>Life Events <%= link_to image_tag("roll.png"), "#roll", data: { roll: "events" } %></h3>
  <%= f.input :age, as: :integer %>
  <div class="life-events">
  </div>
  <h2>Skills</h2>
  <div id="career-points-left-box">
    <label for="career-points-left">Career Skill Points Left</label>
    <output id="career-points-left"></output>
  </div>
  <div id="pickup-points-left-box" class="stomp">
    <label for="pickup-points-left">Pickup Skill Points Left</label>
    <output id="pickup-points-left"></output>
  </div>
  <%= link_to "Add Pickup / Chipped Skills", "#pickup-skills", id: "add-pickup-skill-button", class: "button add" %>
  <%= f.fields_for :skills do |skill_form| %>
    <% skill = skill_form.object %>
    <%= skill_form.input :id, as: :hidden if skill_form.object.persisted? %>
    <%= skill_form.input :skill_id, as: :hidden %>
    <%= skill_form.input :value, as: :integer, label: skill.name, wrapper_html: { class: "skill-input hidden #{skill.type}", data: { stat: skill.stat, special_ability: skill.special_ability, skill_id: skill.id }, components: [:label_input,:placeholder] } %>
    <%= skill_form.input :type, as: :hidden %>
  <% end %>
  <div id="skill-boxes">
    <% (Skill.distinct(:stat) + ["special-ability"]).each do |stat| %>
      <div class="skill-list-box">
        <h3><%= Character.human_attribute_name(stat).titleize %></h3>
        <div class="skill-list <%= stat %>"></div>
      </div>
    <% end %>
  </div>
  <div class="clear"></div>
  <%= f.button :submit %>
<% end %>
<div id="pickup-skills" style="display:none">
  <% pickup_skills = Skill.where(:_id.nin => @character.role.career_skill_ids) %>
  <% stat_based = pickup_skills.where(special_ability: false).group_by(&:stat) %>
  <% special_abilities = { special_ability: pickup_skills.where(special_ability: true) } %>
  <% stat_based.merge(special_abilities).each do |stat, skills| %>
    <h3><%= Character.human_attribute_name(stat).titleize %></h3>
    <ul class="pickup-skills">
      <% skills.sort_by(&:name).each do |skill| %>
        <% skill_data = { name: skill.name, stat: skill.stat, ip_multiplier: skill.ip_multiplier, special_ability: skill.special_ability, skill_id: skill.id.to_s } %>
        <li class="pickup-skill">
          <%= skill.name %>
          (
          <%= link_to "add as pickup", "#", class: "add-pickup-skill", data: skill_data %>
          |
          <%= link_to "add as chip", "#", class: "add-chip-skill", data: skill_data %>
          )
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
