<%= javascript_include_tag character_creation_characters_path(:js) %>

<%= simple_form_for @character do |f| %>
  <script type="text/javascript">window.siblingFormTemplate = '<%= sibling_form_template(f) %>'</script>

  <%= f.input :role_id, as: :hidden %>
  <%= f.input :handle, label: "Handle (#{link_to("name generator", "http://donjon.bin.sh/scifi/name/#cyberpunk", target: "_blank")})", wrapper_html: { class: "left" } %> <%= link_to die_image, random_name_characters_path, id: "random-name-button", class: "roll-handle-link" %>
  <div class="clear"></div>
  <%= f.input :sex, collection: {"Male" => "male", "Female" => "female"}, include_blank: false %>
  <h2>Statistics <%= link_to die_image, "#roll", data: { roll: "stats" } %></h2>
  <ul id="character-stats" class="editable-stats">
    <% Character::BASIC_ATTRIBUTES.each do |stat| %>
      <li class="editable-stat"><%= f.input stat, as: :integer, label: %Q{<abbr title="#{stat.to_s.titleize}">#{shortened_stats[stat] || stat.to_s.titleize}</abbr>} %></li>
    <% end %>
  </ul>
  <div class="clear"></div>
  <div class="lifepath">
    <h2>Lifepath</h2>
    <div class="style">
      <h3>Origins and Personal Style <%= link_to die_image, "#roll", data: { roll: "style" } %></h3>
      <%= f.input :clothes, as: :text %>
      <%= f.input :hair, as: :text %>
      <%= f.input :affections, as: :text %>
      <%= f.input :ethnicity, as: :text %>
      <%= f.input :language, as: :text %>
    </div>
    <div class="family">
      <h3>Family Background <%= link_to die_image, "#roll", data: { roll: "family" } %></h3>
      <%= f.input :family_ranking, as: :text %>
      <%= f.input :parents, as: :text %>
      <%= f.input :family_status, as: :text %>
      <%= f.input :childhood_environment, as: :text %>
    </div>
    <div class="motivations">
      <h3>Motivations <%= link_to die_image, "#roll", data: { roll: "motivations" } %></h3>
      <%= f.input :personality, as: :text %>
      <%= f.input :valued_person, as: :text %>
      <%= f.input :valued_concept, as: :text %>
      <%= f.input :feelings_toward_others, as: :text %>
      <%= f.input :valued_posession, as: :text %>
    </div>
    <div class="clear"></div>
    <div class="siblings stomp">
      <h3>Siblings <%= link_to die_image, "#roll", data: { roll: "siblings" } %></h3>
      <ul id="siblings" class="siblings stomp">
        <%= f.fields_for(:siblings) do |sibling_form| %>
          <%= render "sibling_form", sibling_form: sibling_form %>
        <% end %>
      </ul>
      <a href="#" id="add_sibling" class="button add small">Add Sibling</a>
    </div>
    <div class="life-events">
      <h3>Life Events <%= link_to die_image, "#roll", data: { roll: "events" } %></h3>
      <%= f.input :age, as: :integer %>
      <ul id="life-events" class="life-events">
        <%= f.fields_for(:life_events) do |lf| %>
          <li class="life-event">
            <h4>Age</h4>
            <%= lf.input :id, as: :hidden %>
            <%= lf.input :description, as: :text %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
  <div class="skills stomp">
    <h2>Skills <%= link_to die_image, "#roll", data: { roll: "skills" } %></h2>
    <div id="career-points-left-box">
      <label for="career-points-left" class="left">Career Skill Points Left</label>
      <output id="career-points-left"></output>
    </div>
    <div class="clear"></div>
    <div id="pickup-points-left-box" class="stomp">
      <label for="pickup-points-left" class="left">Pickup Skill Points Left</label>
      <output id="pickup-points-left"></output>
    </div>
    <div class="clear"></div>
    <%= f.fields_for :skills do |skill_form| %>
      <% skill = skill_form.object %>
      <%= skill_form.input :id, as: :hidden if skill_form.object.persisted? %>
      <%= skill_form.input :skill_id, as: :hidden %>
      <%= skill_form.input :value, as: :integer, label: skill.name, wrapper_html: { class: "skill-input hidden #{skill.type}", data: { stat: skill.stat, special_ability: skill.special_ability, skill_id: skill.id }, components: [:label_input,:placeholder] } %>
      <%= skill_form.input :type, as: :hidden %>
    <% end %>
    <div id="skill-boxes">
      <% (Skill.distinct(:stat) + ["special-ability"]).each do |stat| %>
        <div class="skill-list-box">
          <h3><%= Character.human_attribute_name(stat).titleize %></h3>
          <div class="skill-list <%= stat %>"></div>
        </div>
      <% end %>
    </div>
    <%= link_to "Add Pickup / Chipped Skills", "#pickup-skills", id: "add-pickup-skill-button", class: "button add" %>
  </div>
  <div class="clear"></div>
  <div class="description">
    <h2>Description</h2>
    <p class="hint">The character description is the place to really flesh out all the background info of your character. Use the generated Life Path as a source of inspiration. The characters skills should also be reflected in the description. Like if your Solo has a crazy 9 point rifle skill you better back it up with how his life revolved around a passion for assault rifles. Or how about that 8 point stealth pickup skill, was your character raised by ninjas?</p>
    <%= f.input :description, as: :text, label: nil %>
  </div>
  <%= f.button :submit %>
<% end %>

<div id="pickup-skills" style="display:none">
  <% pickup_skills = Skill.where(:_id.nin => @character.role.career_skill_ids) %>
  <% stat_based = pickup_skills.where(special_ability: false).group_by(&:stat) %>
  <% special_abilities = { special_ability: pickup_skills.where(special_ability: true) } %>
  <% stat_based.merge(special_abilities).each do |stat, skills| %>
    <h3><%= Character.human_attribute_name(stat).titleize %></h3>
    <ul class="pickup-skills stomp">
      <% skills.sort_by(&:name).each do |skill| %>
        <% skill_data = { name: skill.name, stat: skill.stat, ip_multiplier: skill.ip_multiplier, special_ability: skill.special_ability, skill_id: skill.id.to_s } %>
        <li class="pickup-skill">
          <%= skill.name %>
          (
          <%= link_to "add as pickup", "#", class: "add-pickup-skill", data: skill_data %>
          |
          <%= link_to "add as chip", "#", class: "add-chip-skill", data: skill_data %>
          )
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
