<h1>Characters</h1>

<div class="character-box">
  <h2>Your Created Characters</h1>

  <ul class="characters stomp">
    <% @user_characters.each do |character| %>
      <li class="character">
        <%= link_to character.handle, character %>
        | <%= character.role.name %>
        <% unless @campaign_characters.include?(character) %>
        | <%= link_to "add to campaign", campaign_add_character_path(current_campaign, character), method: :post %>
        <% end %>
        | <%= link_to "edit", edit_character_path(character) %>
        | <%= link_to "destroy", character, confirm: "Are you sure you want to permanently remove #{character.handle}?", method: :delete %>
      </li>
    <% end %>
  </ul>

  <%= link_to "New Character", chose_role_characters_path, class: "button add" %>
</div>

<div class="character-box">
  <h2>Campaign Characters</h1>

  <h3>Player Characters</h3>
  <p class="hint">Any character that has been assigned a player is considered a PC (Player Character) and will be visible to all members of the campaign.</p>
  <ul class="characters stomp">
    <%= render @campaign_characters.select(&:pc?) %>
  </ul>

  <h3>Non Player Characters</h3>
  <p class="hint">Characters that have not been assigned any players are considered NPCs (Non Playable Characters) and will only be visible to campaign members with referee status.</p>
  <ul class="characters">
    <%= render @campaign_characters.select(&:npc?) %>
  </ul>
</div>
