<% @gray_style = true %>
<% @title = @character.handle %>

<script type="text/javascript">
  $(function() {
    $('#skill-groups-container').isotope({itemSelector : '.skill-group'})

    $(".select-cyberware").click(function() {
      var row = $(this).closest('li')

      var costSuggestion = costFromHint(row.find("span.cost").html())
      row.find('input.cost').val(costSuggestion).show()
      var hlSuggestion = hlFromHint(row.find("span.hl").html())
      row.find('input.hl').val(hlSuggestion).show()

      row.find("span.cost, span.hl").hide()
      $(this).hide()
      row.find(".add-cyberware").show()

      return false
    })

    $(".add-cyberware").click(function() {
      var row = $(this).closest('li')

      var params = {
        cost: row.find('input.cost').val(),
        hl: row.find('input.hl').val(),
        blueprint_id: row.data().blueprintId
      }

      $.post("<%= character_cyberwares_path(@character) %>", {cyberware: params}, function() {
        $.fancybox.close()
        row.find("span.cost, span.hl, .select-cyberware").show()
        row.find("input.cost, input.hl, .add-cyberware").hide()
      })

      return false
    })
  })

  function costFromHint(hint) {
    if(hint.include("-")) {
      return hint.split("-").last().toI() / 2
    }
    else {
      return hint.toI()
    }
  }

  function hlFromHint(hint) {
    if(hint.include("D")) {
      var divider = hint.include("/") ? hint.split("/").last().toI() : 1
      var addition = hint.include("+") ? hint.split("+").last().toI() : 0
      var numberOfDice = hint.split("D").first().toI()
      var result = addition
      numberOfDice.times(function() {
        result += dice(6)
      })
      return result / divider
    }
    else {
      return hint.toF()
    }
  }
</script>

<h1>
  <%= @character.handle %>
  <span class="subtitle"><%= articlerize(@character.role.name).titleize %> aged <%= @character.age %>.</span>
</h1>

<% if @character.description.present? %>
  <div class="description stomp" style="width: 620px; font-family: 'Droid Serif'; margin-top: -1.5em">
    <%= simple_format @character.description %>
  </div>
<% end %>

<h2 class="inversed">Stats</h2>

<div class="box stats-container">
  <ul class="stats">
    <% (Character::BASIC_ATTRIBUTES).each do |stat| %>
    <li class="stat">
      <abbr title="<%= Character.human_attribute_name(stat).titleize %>" class="stat-name"><%= abbrivated_stats[stat] %></abbr>
      <span class="stat-value">
        <%= @character.send(stat) %><%- if @character.send("actual_#{stat}") != @character.send(stat) %>/<%= @character.send("actual_#{stat}") %>
        <%- end %>
      </span>
    </li>
  <% end %>
  </ul>

  <ul class="stats">
    <% %i[run leap lift carry humanity].each do |attribute| %>
    <li class="stat">
      <span class="stat-name"><%= Character.human_attribute_name(attribute) %></span>
      <span class="stat-value"><%= @character.send(attribute) %></span>
    </li>
    <% end %>
  </ul>
  <div class="clear"></div>
</div>

<h2 class="inversed">Skills</h2>

<div id="skill-groups-container">
  <% special_abilities = @character.skills.select { |s| s.value > 0 && s.special_ability } %>
  <%= render partial: "skill_group", object: {"Special #{special_abilities.many? ? 'Abilities' : 'Ability'}" => special_abilities} %>
  <% grouped_skills = @character.skills.reject { |s| s.value == 0 || s.special_ability }.group_by(&:stat) %>
  <% (Character::BASIC_ATTRIBUTES).each do |category| %>
    <% next unless skills = grouped_skills.symbolize_keys[category] %>
    <%= render partial: "skill_group", object: {Character.human_attribute_name(category) => skills} %>
  <% end %>
</div>

<h2 class="inversed">Gear</h2>

<div class="gear box weapons">
  <h3>Weapons</h3>
  <div class="gear-table weapons header <%= "hidden" if @character.weapons.blank? %>">
    <span class="name">Name</span>
    <span class="type">Type</span>
    <span class="accuracy">WA</span>
    <span class="concealability">Con.</span>
    <span class="availability">Avail.</span>
    <span class="damage">Damage/Ammo</span>
    <span class="shots">#Shots</span>
    <span class="rof">ROF</span>
    <span class="reliability">Rel.</span>
    <span class="range">Range</span>
    <span class="cost">Cost</span>
    <div class="clear"></div>
  </div>
  <ul id="weapons-table" class="gear-table weapons stomp">
   <%= render @character.weapons %>
  </ul>

  <%= link_to "Add Weapon", "#weapons-dialogue", class: "button add fancy" if can_edit?(@character) %>
</div>

<div class="gear box armors">
  <h3>Armor / Clothing</h3>
  <div class="gear-table armors header <%= "hidden" if @character.armors.blank? %>">
    <span class="name">Name</span>
    <span class="type">Type</span>
    <span class="hsp">Head</span>
    <span class="tsp">Torso</span>
    <span class="lasp">Arms</span>
    <span class="llsp">Legs</span>
    <span class="ev">EV</span>
    <span class="cost">Cost</span>
    <div class="clear"></div>
  </div>
  <ul id="armors-table" class="gear-table armors stomp">
    <%= render @character.armors %>
  </ul>

  <%= link_to "Add Armor", "#armors-dialogue", class: "button add fancy" if can_edit?(@character) %>
</div>

<div class="gear box cyberware">
  <h3>Cyberware</h3>
    <ul class="gear-table cyberware header <%= "hidden" if @character.cyberwares.blank? %>">
      <span class="name">Name</span>
      <span class="description">Description</span>
      <span class="surgery_level">Surgery</span>
      <span class="hl">H.Loss</span>
      <span class="cost">Cost</span>
      <div class="clear"></div>
    </ul>
    <ul id="cyberwares-table" class="gear-table cyberware stomp">
      <%= render @character.cyberwares %>
    </ul>

  <%= link_to "Add Cyberware", "#cyberwares-dialogue", class: "button add fancy" if can_edit?(@character) %>
</div>

<h2 class="inversed">Life Path</h2>
<div class="clear"></div>

<div class="life-path-entry box style">
  <h3>Style</h3>
  <% %w[clothes hair affections ethnicity language].each do |attribute| %>
    <p>
      <strong><%= attribute.titleize %></strong>
      <br>
      <%= @character.send(attribute) %>
    </p>
  <% end %>
</div>

<div class="life-path-entry box family">
  <h3>Family Background</h3>
  <% %w[family_ranking parents family_status childhood_environment].each do |attribute| %>
    <p>
      <strong><%= attribute.titleize %></strong>
      <br>
      <%= @character.send(attribute) %>
    </p>
  <% end %>

  <p>
    <strong>Siblings</strong>
    <br>
    <% if @character.siblings.any? %>
      <% @character.siblings.each do |sibling| %>
          <%= articlerize(sibling.age.downcase).capitalize %> <%= sibling.sex == "Male" ? "brother" : "sister" %> who <%= sibling.feelings.downcase %>.
          <br>
      <% end %>
    <% else %>
      <%= @character.handle %> is an only child.
    <% end %>
  </p>
</div>

<div class="life-path-entry box motivations">
  <h3>Motivations</h3>
  <% %w[personality valued_person valued_concept feelings_toward_others valued_posession].each do |attribute| %>
    <p>
      <strong><%= attribute.titleize %></strong>
      <br>
      <%= @character.send(attribute) %>
    </p>
  <% end %>
</div>

<div class="life-path-entry box life-events">
  <h3>Life Events</h3>
  <% if @character.life_events.any? %>
    <ul>
      <% @character.life_events.each_with_index do |event, index| %>
        <li>
          <strong>Age <%= 17 + index %></strong>
          <%= simple_format event.description %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Nothing so far...</p>
  <% end %>
</div>

  <div id="weapons-dialogue" class="dialogue weapons">
    <ul class="weapon-categories">
      <% WeaponBlueprint.all.group_by(&:category).each do |category, weapons| %>
        <li>
          <h3><%= category.titleize %></h3>
          <ul class="gear-table weapons stomp">
            <%= render partial: "weapons/weapon", collection: weapons %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="armors-dialogue" class="dialogue armors">
    <ul class="armor-categories">
      <% ArmorBlueprint.all.group_by(&:category).each do |category, armors| %>
        <li>
          <h3><%= category.titleize %></h3>
          <div class="gear-table armors header">
            <span class="name">Name</span>
            <span class="type">Type</span>
            <span class="hsp">Head</span>
            <span class="tsp">Torso</span>
            <span class="lasp">Arms</span>
            <span class="llsp">Legs</span>
            <span class="ev">EV</span>
            <span class="cost">Cost</span>
            <div class="clear"></div>
          </div>
          <ul class="gear-table armors">
            <%= render partial: "armors/armor", collection: armors %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="cyberwares-dialogue" class="dialogue cyberware">
    <ul class="cyberware-categories">
      <% CyberwareBlueprint.all.group_by(&:category).each do |category, cyberwares| %>
        <li>
          <h3><%= category.titleize %></h3>
          <div class="gear-table cyberware header">
            <span class="name">Name</span>
            <span class="description">Description</span>
            <span class="surgery_level">Surgery</span>
            <span class="hl">H.Loss</span>
            <span class="cost">Cost</span>
            <div class="clear"></div>
          </div>
          <ul class="gear-table cyberware stomp">
            <%= render partial: "cyberwares/cyberware", collection: cyberwares %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
