<% @gray_style = true %>
<% @title = @character.handle %>

<script type="text/javascript">
  var characterId = "<%= @character.id %>"

  $(function() {
    $('#skill-groups-container').isotope({itemSelector : '.skill-group'})

    $(".select-gear").click(function() {
      var row = $(this).closest('li')

      var costSuggestion = costFromHint(row.data().cost.toString())
      row.find('input.cost').val(costSuggestion).show()

      if(row.find("span.hl").length > 0) {
        var hlSuggestion = hlFromHint(row.find("span.hl").html())
        row.find('input.hl').val(hlSuggestion).show()
      }

      row.find("span.cost, span.hl").hide()
      $(this).hide()
      row.find(".add-gear").show()

      return false
    })

    $(".add-gear").click(function() {
      var row = $(this).closest('li')

      var params = {
        cost: row.find('input.cost').val(),
        blueprint_id: row.data().blueprintId
      }

      if(hl = row.find('input.hl').val()) params.hl = hl

      $.post("/characters/"+characterId+"/"+row.data().itemResource, {item: params}, function() {
        $.fancybox.close()
        row.find("span.cost, span.hl, .select-gear").show()
        row.find("input.cost, input.hl, .add-gear").hide()
      })

      return false
    })
  })

  function costFromHint(hint) {
    if(hint.include("-")) {
      return hint.split("-").last().toI() / 2
    }
    else {
      return hint.toI()
    }
  }

  function hlFromHint(hint) {
    if(hint.include("D")) {
      var divider = hint.include("/") ? hint.split("/").last().toI() : 1
      var addition = hint.include("+") ? hint.split("+").last().toI() : 0
      var numberOfDice = hint.split("D").first().toI()
      var result = addition
      numberOfDice.times(function() {
        result += dice(6)
      })
      return result / divider
    }
    else {
      return hint.toF()
    }
  }

  function manageMoney() {
    $("#transactions-container").slideToggle()
    $("#transactions-button").hide()
    $("#transaction_amount").focus()
  }
</script>

<h1>
  <%= @character.handle %>
  <span class="subtitle"><%= articlerize(@character.role.name).titleize %> aged <%= @character.age %>.</span>
</h1>

<% if @character.description.present? %>
  <div class="description stomp" style="width: 620px; font-family: 'Droid Serif'; margin-top: -1.5em">
    <%= simple_format @character.description %>
  </div>
<% end %>

<h2 class="inversed">Stats</h2>

<div class="box stats-container">
  <ul class="stats">
    <% (Character::BASIC_ATTRIBUTES).each do |stat| %>
    <li class="stat">
      <abbr title="<%= Character.human_attribute_name(stat).titleize %>" class="stat-name"><%= abbrivated_stats[stat] %></abbr>
      <span class="stat-value">
        <%= @character.send(stat) %><%- if @character.send("actual_#{stat}") != @character.send(stat) %>/<%= @character.send("actual_#{stat}") %>
        <%- end %>
      </span>
    </li>
  <% end %>
  </ul>

  <ul class="stats">
    <% %i[run leap lift carry humanity].each do |attribute| %>
    <li class="stat">
      <span class="stat-name"><%= Character.human_attribute_name(attribute) %></span>
      <span class="stat-value"><%= @character.send(attribute) %></span>
    </li>
    <% end %>
  </ul>
  <div class="clear"></div>
</div>

<h2 class="inversed">Skills</h2>

<div id="skill-groups-container">
  <% special_abilities = @character.skills.select { |s| s.value > 0 && s.special_ability } %>
  <%= render partial: "skill_group", object: {"Special #{special_abilities.many? ? 'Abilities' : 'Ability'}" => special_abilities} %>
  <% grouped_skills = @character.skills.reject { |s| s.value == 0 || s.special_ability }.group_by(&:stat) %>
  <% (Character::BASIC_ATTRIBUTES).each do |category| %>
    <% next unless skills = grouped_skills.symbolize_keys[category] %>
    <%= render partial: "skill_group", object: {Character.human_attribute_name(category) => skills} %>
  <% end %>
</div>

<h2 class="inversed">Gear</h2>

<div class="box money">
  <h3>Money</h3>
  <p class="money stomp">
    <em class="format-currency" id="character-money"><%= @character.money %></em><br>
    <%= link_to_function "manage", "manageMoney()", id: "transactions-button" if can_edit?(@character) %>
  </p>

  <div id="transactions-container" class="hidden">
    <h3>Add Transaction</h3>
    <p class="hint">
      To better keep track of a characters finances add transactions whenever you receive or lose money.<br>
      If you'd rather just edit the current money value go to the <%= link_to_function "edit page", edit_character_path(@character) %>.
    </p>
    <%= simple_form_for Transaction.new(character: @character), url: character_transactions_path(@character), remote: true do |f| %>
      <%= f.input :character_id, as: :hidden %>
      <%= f.input :amount, as: :integer, wrapper_html: { class: "left" }, input_html: { class: "amount" } %>
      <%= f.input :description, wrapper_html: { class: "left" }, input_html: { style: "width: 380px;" } %>
      <%= f.button :submit, "Create", class: "add stomp", style: "margin-top: 22px" %>
      <div class="clear"></div>
      <p class="hint stomp" style="margin-top: -10px">
        For expenses prefix value with minus, ie -300 instead of 300.
      </p>
    <% end %>
    <h3>5 Last Transactions</h3>
    <div class="transactions header">
      <span class="time">Date</span>
      <span class="description">Description</span>
      <span class="amount">Amount</span>
    </div>
    <ul id="transactions-list" class="transactions zebra">
      <%= render @character.transactions.limit(10).order_by(_id: -1) %>
    </ul>
    <%= link_to "View all transactions", character_transactions_path(@character) if @character.transactions.count > 5 %>
  </div>
</div>

<div class="gear box weapons">
  <h3>Weapons</h3>
  <div class="gear-table weapons header <%= "hidden" if @character.weapons.blank? %>">
    <span class="name">Name</span>
    <span class="type">Type</span>
    <span class="accuracy">WA</span>
    <span class="concealability">Con.</span>
    <span class="availability">Avail.</span>
    <span class="damage">Damage/Ammo</span>
    <span class="shots">#Shots</span>
    <span class="rof">ROF</span>
    <span class="reliability">Rel.</span>
    <span class="range">Range</span>
    <span class="cost">Cost</span>
    <div class="clear"></div>
  </div>
  <ul id="weapons-table" class="gear-table weapons stomp">
   <%= render @character.weapons %>
  </ul>

  <%= link_to "Add Weapon", "#weapons-dialogue", class: "button add fancy" if can_edit?(@character) %>
</div>

<div class="gear box armors">
  <h3>Armor / Clothing</h3>
  <div class="gear-table armors header <%= "hidden" if @character.armors.blank? %>">
    <span class="name">Name</span>
    <span class="type">Type</span>
    <span class="hsp">Head</span>
    <span class="tsp">Torso</span>
    <span class="lasp">Arms</span>
    <span class="llsp">Legs</span>
    <span class="ev">EV</span>
    <span class="cost">Cost</span>
    <div class="clear"></div>
  </div>
  <ul id="armors-table" class="gear-table armors stomp">
    <%= render @character.armors %>
  </ul>

  <%= link_to "Add Armor", "#armors-dialogue", class: "button add fancy" if can_edit?(@character) %>
</div>

<div class="gear box cyberware">
  <h3>Cyberware</h3>
    <ul class="gear-table cyberware header <%= "hidden" if @character.cyberwares.blank? %>">
      <span class="name">Name</span>
      <span class="description">Description</span>
      <span class="surgery_level">Surgery</span>
      <span class="hl">H.Loss</span>
      <span class="cost">Cost</span>
      <div class="clear"></div>
    </ul>
    <ul id="cyberwares-table" class="gear-table cyberware stomp">
      <%= render @character.cyberwares %>
    </ul>

  <%= link_to "Add Cyberware", "#cyberwares-dialogue", class: "button add fancy" if can_edit?(@character) %>
</div>

<h2 class="inversed">Life Path</h2>
<div class="clear"></div>

<div class="life-path-entry box style">
  <h3>Style</h3>
  <% %w[clothes hair affections ethnicity language].each do |attribute| %>
    <p>
      <strong><%= attribute.titleize %></strong>
      <br>
      <%= @character.send(attribute) %>
    </p>
  <% end %>
</div>

<div class="life-path-entry box family">
  <h3>Family Background</h3>
  <% %w[family_ranking parents family_status childhood_environment].each do |attribute| %>
    <p>
      <strong><%= attribute.titleize %></strong>
      <br>
      <%= @character.send(attribute) %>
    </p>
  <% end %>

  <p>
    <strong>Siblings</strong>
    <br>
    <% if @character.siblings.any? %>
      <% @character.siblings.each do |sibling| %>
          <%= articlerize(sibling.age.downcase).capitalize %> <%= sibling.sex == "Male" ? "brother" : "sister" %> who <%= sibling.feelings.downcase %>.
          <br>
      <% end %>
    <% else %>
      <%= @character.handle %> is an only child.
    <% end %>
  </p>
</div>

<div class="life-path-entry box motivations">
  <h3>Motivations</h3>
  <% %w[personality valued_person valued_concept feelings_toward_others valued_posession].each do |attribute| %>
    <p>
      <strong><%= attribute.titleize %></strong>
      <br>
      <%= @character.send(attribute) %>
    </p>
  <% end %>
</div>

<div class="life-path-entry box life-events">
  <h3>Life Events</h3>
  <% if @character.life_events.any? %>
    <ul>
      <% @character.life_events.each_with_index do |event, index| %>
        <li>
          <strong>Age <%= 17 + index %></strong>
          <%= simple_format event.description %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Nothing so far...</p>
  <% end %>
</div>

  <div id="weapons-dialogue" class="dialogue weapons">
    <ul class="weapon-categories">
      <% WeaponBlueprint.all.group_by(&:category).each do |category, weapons| %>
        <li>
          <h3><%= category.titleize %></h3>
          <div class="gear-table armors header">
            <span class="name">Name</span>
            <span class="type">Type</span>
            <span class="accuracy">WA</span>
            <span class="concealability">Con.</span>
            <span class="availability">Avail.</span>
            <span class="damage">Damage/Ammo</span>
            <span class="shots">#Shots</span>
            <span class="rof">ROF</span>
            <span class="reliability">Rel.</span>
            <span class="range">Range</span>
            <span class="cost">Cost</span>
            <div class="clear"></div>
          </div>
          <ul class="gear-table weapons stomp">
            <%= render partial: "weapons/weapon", collection: weapons %>
          </ul>
        </li>
      <% end %>
      <p class="legend">
        * Blade AP (1/2 soft armor, full penetrating damage)<br>
        # Monoblade AP (1/3 soft armor, 2/3 hard armor, full penetrating damage)<br>
        @ AP (1/2 armor, 1/2 penetrating damage)
      </p>
    </ul>
  </div>

  <div id="armors-dialogue" class="dialogue armors">
    <ul class="armor-categories">
      <% ArmorBlueprint.all.group_by(&:category).each do |category, armors| %>
        <li>
          <h3><%= category.titleize %></h3>
          <div class="gear-table armors header">
            <span class="name">Name</span>
            <span class="type">Type</span>
            <span class="hsp">Head</span>
            <span class="tsp">Torso</span>
            <span class="lasp">Arms</span>
            <span class="llsp">Legs</span>
            <span class="ev">EV</span>
            <span class="cost">Cost</span>
            <div class="clear"></div>
          </div>
          <ul class="gear-table armors">
            <%= render partial: "armors/armor", collection: armors %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="cyberwares-dialogue" class="dialogue cyberware">
    <ul class="cyberware-categories">
      <% CyberwareBlueprint.all.group_by(&:category).sort.each do |category, cyberwares| %>
        <li>
          <h3><%= category.titleize %></h3>
          <div class="gear-table cyberware header">
            <span class="name">Name</span>
            <span class="description">Description</span>
            <span class="surgery_level">Surgery</span>
            <span class="hl">H.Loss</span>
            <span class="cost">Cost</span>
            <div class="clear"></div>
          </div>
          <ul class="gear-table cyberware stomp">
            <%= render partial: "cyberwares/cyberware", collection: cyberwares %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
