<% @gray_style = true %>
<% @title = @character.handle %>

<script type="text/javascript">
  $(function() {
    $('#skill-groups-container').isotope({itemSelector : '.skill-group'})

    $(".select-cyberware").click(function() {
      var row = $(this).closest('tr')

      var costSuggestion = costFromHint(row.find(".cost .hint").html())
      row.find('.cost input').val(costSuggestion).show()

      var hlSuggestion = hlFromHint(row.find(".hl .hint").html())
      row.find('.hl input').val(hlSuggestion).show()

      row.find(".hint").hide()

      $(this).hide()

      row.find(".add-cyberware").show()

      return false
    })

    $(".add-cyberware").click(function() {
      var row = $(this).closest('tr')

      var params = {
        cost: row.find('.cost input').val(),
        hl: row.find('.hl input').val(),
        blueprint_id: row.data().blueprintId
      }

      $.post("<%= character_cyberwares_path(@character) %>", {cyberware: params}, function() {
        row.find(".hint, .select-cyberware").show()
        row.find("input, .add-cyberware").hide()
      })

      return false
    })
  })

  function costFromHint(hint) {
    if(hint.include("-")) {
      return hint.split("-").last().toI() / 2
    }
    else {
      return hint.toI()
    }
  }

  function hlFromHint(hint) {
    if(hint.include("D")) {
      var divider = hint.include("/") ? hint.split("/").last().toI() : 1
      var numberOfDice = hint.split("D").first().toI()
      var result = 0
      numberOfDice.times(function() {
        result += dice(6)
      })
      return result
    }
    else {
      return hint.toI()
    }
  }
</script>

<h1>
  <%= @character.handle %>
  <span class="subtitle"><%= articlerize(@character.role.name).titleize %> aged <%= @character.age %>.</span>
</h1>

<% if @character.description.present? %>
  <div class="description stomp" style="width: 620px; font-family: 'Droid Serif'; margin-top: -1.5em">
    <%= simple_format @character.description %>
  </div>
<% end %>

<h2 class="inversed">Stats</h2>

<div class="box stats-container">
  <ul class="stats">
    <% (Character::BASIC_ATTRIBUTES).each do |stat| %>
    <li class="stat">
      <abbr title="<%= Character.human_attribute_name(stat).titleize %>" class="stat-name"><%= abbrivated_stats[stat] %></abbr>
      <span class="stat-value">
        <%= @character.send(stat) %><%- if @character.send("actual_#{stat}") != @character.send(stat) %>/<%= @character.send("actual_#{stat}") %>
        <%- end %>
      </span>
    </li>
  <% end %>
  </ul>

  <ul class="stats">
    <% %i[run leap lift carry humanity].each do |attribute| %>
    <li class="stat">
      <span class="stat-name"><%= Character.human_attribute_name(attribute) %></span>
      <span class="stat-value"><%= @character.send(attribute) %></span>
    </li>
    <% end %>
  </ul>
  <div class="clear"></div>
</div>

<h2 class="inversed">Skills</h2>

<div id="skill-groups-container">
  <% special_abilities = @character.skills.select { |s| s.value > 0 && s.special_ability } %>
  <%= render partial: "skill_group", object: {"Special #{special_abilities.many? ? 'Abilities' : 'Ability'}" => special_abilities} %>
  <% grouped_skills = @character.skills.reject { |s| s.value == 0 || s.special_ability }.group_by(&:stat) %>
  <% (Character::BASIC_ATTRIBUTES).each do |category| %>
    <% next unless skills = grouped_skills.symbolize_keys[category] %>
    <%= render partial: "skill_group", object: {Character.human_attribute_name(category) => skills} %>
  <% end %>
</div>

<h2 class="inversed">Gear</h2>

<div class="gear box weapons">
  <h3>Weapons</h3>
  <table id="weapons-table" class="gear-table weapons stomp">
    <thead class="<%= "hidden" if @character.weapons.blank? %>">
      <th class="name">Name</th>
      <th class="type">Type</th>
      <th class="accuracy">WA</th>
      <th class="concealability">Con.</th>
      <th class="availability">Avail.</th>
      <th class="damage">Damage/Ammo</th>
      <th class="shots">#Shots</th>
      <th class="rof">ROF</th>
      <th class="reliability">Rel.</th>
      <th class="range">Range</th>
      <th class="cost">Cost</th>
    </thead>
    <tbody>
     <%= render @character.weapons %>
    </tbody>
  </table>

  <%= link_to "Add Weapon", "#weapons-dialogue", class: "button add fancy" if can_edit?(@character) %>
</div>

<div class="gear box armors">
  <h3>Armor / Clothing</h3>
  <table id="armors-table" class="gear-table armors stomp">
    <thead class="<%= "hidden" if @character.armors.blank? %>">
      <tr>
        <th class="name">Name</th>
        <th class="type">Type</th>
        <th class="hsp">Head</th>
        <th class="tsp">Torso</th>
        <th class="lasp">Arms</th>
        <th class="llsp">Legs</th>
        <th class="ev">EV</th>
        <th class="cost">Cost</th>
      </tr>
    </thead>
    <tbody>
      <%= render @character.armors %>
    </tbody>
  </table>

  <%= link_to "Add Armor", "#armors-dialogue", class: "button add fancy" if can_edit?(@character) %>
</div>

<div class="gear box cyberwares">
  <h3>Cyberware</h3>
  <table id="cyberwares-table" class="cyberwares gear-table stomp">
    <thead class="<%= "hidden" if @character.cyberwares.blank? %>">
      <tr>
        <th class="name">Name</th>
        <th class="description">Description</th>
        <th class="surgery_level">Surgery</th>
        <th class="hl">H.Loss</th>
        <th class="cost">Cost</th>
      </tr>
    </thead>
    <tbody>
      <%= render @character.cyberwares %>
    </tbody>
  </table>

  <%= link_to "Add Cyberware", "#cyberwares-dialogue", class: "button add fancy" if can_edit?(@character) %>
</div>

<h2 class="inversed">Life Path</h2>
<div class="clear"></div>

<div class="life-path-entry box style">
  <h3>Style</h3>
  <% %w[clothes hair affections ethnicity language].each do |attribute| %>
    <p>
      <strong><%= attribute.titleize %></strong>
      <br>
      <%= @character.send(attribute) %>
    </p>
  <% end %>
</div>

<div class="life-path-entry box family">
  <h3>Family Background</h3>
  <% %w[family_ranking parents family_status childhood_environment].each do |attribute| %>
    <p>
      <strong><%= attribute.titleize %></strong>
      <br>
      <%= @character.send(attribute) %>
    </p>
  <% end %>

  <p>
    <strong>Siblings</strong>
    <br>
    <% if @character.siblings.any? %>
      <% @character.siblings.each do |sibling| %>
          <%= articlerize(sibling.age.downcase).capitalize %> <%= sibling.sex == "Male" ? "brother" : "sister" %> who <%= sibling.feelings.downcase %>.
          <br>
      <% end %>
    <% else %>
      <%= @character.handle %> is an only child.
    <% end %>
  </p>
</div>

<div class="life-path-entry box motivations">
  <h3>Motivations</h3>
  <% %w[personality valued_person valued_concept feelings_toward_others valued_posession].each do |attribute| %>
    <p>
      <strong><%= attribute.titleize %></strong>
      <br>
      <%= @character.send(attribute) %>
    </p>
  <% end %>
</div>


<div class="life-path-entry box life-events">
  <h3>Life Events</h3>
  <% if @character.life_events.any? %>
    <ul>
      <% @character.life_events.each_with_index do |event, index| %>
        <li>
          <strong>Age <%= 17 + index %></strong>
          <%= simple_format event.description %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Nothing so far...</p>
  <% end %>
</div>

<div id="weapons-dialogue" class="dialogue">
  <ul class="weapon-categories">
    <% WeaponBlueprint.all.group_by(&:category).each do |category, weapons| %>
      <li>
        <h3><%= category.titleize %></h3>
        <table class="gear-table weapons stomp">
          <tbody>
            <%= render partial: "weapons/weapon", collection: weapons %>
          </tbody>
        </table>
      </li>
    <% end %>
  </ul>
</div>

<div id="armors-dialogue" class="dialogue">
  <ul class="armor-categories">
    <% ArmorBlueprint.all.group_by(&:category).each do |category, armors| %>
      <li>
        <h3><%= category.titleize %></h3>
        <table class="gear-table armors stomp">
          <thead>
            <tr>
              <th class="name">Name</th>
              <th class="type">Type</th>
              <th class="hsp">Head</th>
              <th class="tsp">Torso</th>
              <th class="lasp">Arms</th>
              <th class="llsp">Legs</th>
              <th class="ev">EV</th>
              <th class="cost">Cost</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "armors/armor", collection: armors %>
          </tbody>
        </table>
      </li>
    <% end %>
  </ul>
</div>

<div id="cyberwares-dialogue" class="dialogue">
  <ul class="cyberware-categories">
    <% CyberwareBlueprint.all.group_by(&:category).each do |category, cyberwares| %>
      <li>
        <h3><%= category.titleize %></h3>
        <table class="gear-table cyberwares stomp">
          <thead>
            <tr>
              <th class="name">Name</th>
              <th class="description">Description</th>
              <th class="type">Surgery</th>
              <th class="hl">H.Loss</th>
              <th class="cost">Cost</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "cyberwares/cyberware", collection: cyberwares %>
          </tbody>
        </table>
      </li>
    <% end %>
  </ul>
</div>
