<!DOCTYPE html>
<html>
<head>
  <title>Cyberpunk</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if user_signed_in? %>
    <div class="user-info">
      Signed in as <%= current_user.name %> | <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    </div>
  <% end %>
  <%= yield %>
</body>
</html>
