<!DOCTYPE html>
<html>
<head>
  <title>Cyberpunk</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% %I[notice error].each do |message| %>
    <div class="flash-message <%= message %> <%= 'hidden' if flash[message].blank? %>">
      <%= flash[message] %>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div class="header">
      <div class="user-info">
        Signed in as <strong><%= current_user.name %></strong> <% if current_campaign %> using the <strong><%= current_campaign.name %></strong> campaign | <%= link_to "Manage Campaigns", campaigns_path %> <% end %> | <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </div>
    </div>
  <% end %>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>
