<!DOCTYPE html>
<html>
<head>
  <title><%= @title || "Cyberpunk.NET" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "gray-style" if @gray_style %>">
  <% %I[notice alert].each do |message| %>
    <div class="flash-message <%= message %> <%= 'hidden' if flash[message].blank? %>">
      <%= flash[message] %>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div class="header">
      <div class="user-info">
        Signed in as <strong><%= current_user.name %></strong>
        <% if current_campaign %> using the <strong><%= current_campaign.name %></strong> campaign <% end %>
        | <%= link_to "Characters", characters_path %>
        | <%= link_to "Members", memberships_path %>
        | <%= link_to "Manage Campaigns", campaigns_path %>
        | <%= link_to "Sign Out", session_path, method: :delete %>
      </div>
    </div>
  <% end %>
  <div class="content">
    <%= yield %>
  </div>
  <% if user_signed_in? %>
    <!-- UserVoice JavaScript SDK (only needed once on a page) -->
    <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/rbOhqmCXu5RN2LQyGKS9Cg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

    <!-- A tab to launch the Classic Widget -->
    <script>
    UserVoice = window.UserVoice || [];
    UserVoice.push(['showTab', 'classic_widget', {
      mode: 'feedback',
      primary_color: '#4f4f4f',
      link_color: '#801700',
      forum_id: 211184,
      tab_label: 'Feedback & Support',
      tab_color: '#cc6d00',
      tab_position: 'middle-right',
      tab_inverted: false
    }]);
    </script>
  <% end %>
</body>
</html>
